<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nostalgiaemulators.framework"
    android:installLocation="auto"
    android:largeHeap="true">


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <!--
         Toto zde byt musi. Aby byla aplikace dostupna pro TV je zapotrebi explicitne deklarovat ze nevyzadujeme
    	touchscreen
    -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />


    <!-- romy jsou na SD karte -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- to je jasne -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- kvuli reklamam a socialnim sitim -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- kvuli reklamam a remote controleru -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- kdyz clovek hraje tak se nezamyka obrazovka na zamek ale jen zhasne -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- kvuli reklamam -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- behem hry se neuspava -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- LVL -->
    <!-- <uses-permission android:name="com.android.vending.CHECK_LICENSE" />  -->

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>




        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <!--<activity-->
        <!--android:name="com.nostalgiaemulators.framework.ui.gamegallery.GalleryActivity"-->
        <!--android:label="@string/app_name" >-->
        <!--</activity>-->
        <activity
            android:name="com.nostalgiaemulators.framework.ui.gamegallery.SlotSelectionActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.nostalgiaemulators.framework.base.OpenGLTestActivity"
            android:exported="false"
            android:label="@string/app_name"
            tools:replace="android:label" />
        <activity
            android:name="com.nostalgiaemulators.framework.base.RestarterActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:process=":restarter"
            tools:replace="android:label" />

        <activity
            android:name="com.nostalgiaemulators.framework.ui.advertising.AppWallActivity"
            android:exported="false"
            android:label="@string/app_name" />


        <activity
            android:name="com.nostalgiaemulators.framework.ui.remotecontroller.RemoteControllerActivity"
            android:label="Remote controller"
            android:screenOrientation="landscape"
            tools:replace="android:label" />

        <!--<activity-->
        <!--tools:replace="android:label"-->
        <!--android:name="com.nostalgiaemulators.framework.ui.gamegallery.SlotSelectionActivity"-->
        <!--android:label="Select slot" />-->

        <activity
            android:name="com.nostalgiaemulators.framework.ui.preferences.GeneralPreferenceActivity"
            android:label="@string/general_pref"
            android:theme="@style/PrefTheme"
            tools:replace="android:label"/>

        <activity
            android:name="com.nostalgiaemulators.framework.ui.preferences.GamePreferenceActivity"
            android:label="@string/game_pref"
            android:theme="@style/PrefTheme"
            tools:replace="android:label" />

        <activity
            android:name="com.nostalgiaemulators.framework.ui.preferences.KeyboardSettingsActivity"
            android:label="@string/key_pref"
            android:theme="@style/PrefTheme"
            tools:replace="android:label" />

        <activity
            android:name="com.nostalgiaemulators.framework.ui.cheats.CheatsActivity"
            android:label="Cheats"
            tools:replace="android:label" />

        <activity
            android:name="com.nostalgiaemulators.framework.ui.social_net.FacebookPictureActivity"
            android:label="FB"
            tools:replace="android:label" />
        <activity
            android:name="com.nostalgiaemulators.framework.ui.preferences.TouchControllerSettingsActivity"
            android:label="@string/game_pref"
            tools:replace="android:label" />

        <activity
            android:name="com.nostalgiaemulators.framework.ui.preferences.ScreenViewPortSettingsActivity"
            android:exported="false"
            android:label="@string/game_pref"/>

        <!-- Aktivity tretich stran -->
        <activity android:name="com.coderplus.filepicker.FilePickerActivity" />
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>